:root {
    --bg: #282c34;
    --bg-half: #282c3450;
    --blue: #6CBAE9;
    --green: #B8DEBD;
    --red: #FF6347;
}

.Quiz-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Quiz-button {
    width: 100%;
    height: 70px;
    background-color: var(--blue) !important;
    text-transform: none !important;
    line-height: 1;
    overflow: hidden;

}

.Quiz-button-success {
    background-color: var(--green) !important;
}

.Quiz-button-failure {
    background-color: var(--red) !important;
}

.Quiz-button-success {
    background-color: var(--green);
}

.Quiz-button-failure {
    background-color: var(--red);
}