.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-article {
  background-color: #282c34;
}

.Globe-map {
  height: '800px';
}

.Globe-countryName {
  position: absolute;
  top: 10px;
  right: 10px;
}

.Quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.Quiz-button {
  margin: 10px;
  min-width: 150px;
  min-height: 50px;
  background-color: #6CBAE9;
}

.Quiz-button-success {
  background-color: #B8DEBD;
}

.Quiz-button-failure {
  background-color: #FF6347;
}

.CountryQuiz-score {
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.CountryQuiz-success {
  color: green;
  animation: fadeOut 1s;
}

.CountryQuiz-failure {
  color: red;
  animation: fadeOut 1s;
}