:root {
  --bg: #282c34;
  --bg-half: #282c3450;
  --blue: #6CBAE9;
  --green: #B8DEBD;
  --red: #FF6347;
}

body {
  overflow: hidden;
  background-color: var(--bg);
}

.App {
  text-align: center;
  background-color: var(--bg);
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-appbar {
  justify-content: start !important;
}

.App-article {
  background-color: var(--bg);
}

.Quiz-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.Quiz-button {
  margin: 5px;
  max-width: 30%;
  min-height: 50px;
  background-color: var(--blue);
}

.Quiz-button-success {
  background-color: var(--green);
}

.Quiz-button-failure {
  background-color: var(--red);
}

.CountryQuiz-score {
  position: absolute;
  bottom: 80px;
  width: 100%;
  font-size: large;
  display: flex;
  justify-content: center;
}

.CountryQuiz-scorebackground {
  background: var(--bg-half);
  width: auto;
  padding: 5px;

}

.CountryQuiz-success {
  color: var(--green);
}

.CountryQuiz-failure {
  color: var(--red);
}

.Globe-zoom {
  position: absolute;
  right: 20px;
  top: 46%;
  display: flex;
  flex-direction: column;
}

.Globe-zoom-button {
  width: 50px;
  height: 50px;
  display: 'block';
  margin-bottom: '10px';
  cursor: pointer;
  background-color: var(--blue);
  font-size: xx-large;
}